@-webkit-keyframes grafico {
  0% {opacity:0;}
  100% {opacity: 1;}
}

@-moz-keyframes grafico {
  0% {opacity:0;}
  100% {opacity: 1;}
}

@-o-keyframes grafico {
  0% {opacity:0;}
  100% {opacity: 1;}
}

@keyframes grafico {
  0% {opacity:0;}
  100% {opacity: 1;}
}
